<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.doushi.api.mapping.VideoMapper">



    <select id="getVideosByType" resultType="me.doushi.api.domain.Video">
        select v.id,v.title,v.url as videoUrl ,v.pic,v.type,v.createTime as pushTime from `tb_video` v where v.title != ""

        <if test="videoId != 0">
            AND id &lt; #{videoId}
        </if>

        <if test="type != 0">
            AND type = #{type}
        </if>

        ORDER BY id DESC LIMIT #{count}

    </select>


    <select id="getVideosByBanner" resultType="me.doushi.api.domain.Video">


        select v.id,v.title,v.url as videoUrl ,v.pic,v.type,v.createTime as pushTime from `tb_video` v

        where v.title != ""

        ORDER BY id DESC LIMIT 5

    </select>

</mapper>
