<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.doushi.api.mapping.VideoMapper">



    <select id="getVideosByType" resultType="me.doushi.api.domain.Video">
        select distinct v.title,v.id,v.url as videoUrl ,v.pic,v.type,v.createTime as pushTime ,(select count(*) from `tb_user_video` tub WHERE tub.`status` = 1 AND tub.userId = #{userId} AND tub.videoId = v.id) as isCollectStatus


        from `tb_video` v where v.title != ""
        AND v.title not like "%#%" AND v.title not like "%@%" AND v.title not like "%微%"    AND v.title not like "%秒拍%"
        AND v.title not like "%号%"  AND v.title not like "%美拍%"
        <if test="videoId != 0">
            AND id &lt; #{videoId}
        </if>

        <if test="type != 0">
            AND type = #{type}
        </if>

        ORDER BY id DESC LIMIT #{count}

    </select>


    <select id="getVideosByBanner" resultType="me.doushi.api.domain.Video">

        select v.id,v.title,v.url as videoUrl ,v.pic,v.type,v.createTime as pushTime,
         (select count(*) from `tb_user_video` tub WHERE tub.`status` = 1 AND tub.userId = 1 AND tub.videoId = v.id) as isCollectStatus

FROM `tb_video` AS v JOIN (SELECT ROUND(RAND() * (SELECT MAX(id) FROM `tb_video`)) AS id) AS v1
WHERE v.id >= v1.id

and v.title != ""
  AND v.title not like "%#%" AND v.title not like "%@%" AND v.title not like "%微%"    AND v.title not like "%秒拍%"
 AND v.title not like "%号%"  AND v.title not like "%美拍%"


ORDER BY v.id ASC LIMIT 5;

    </select>

    <select id="getVideoTaxis" resultType="me.doushi.api.domain.Video">

        select v.id,v.title,v.url as videoUrl ,v.pic,v.type,v.createTime as pushTime,
         (select count(*) from `tb_user_video` tub WHERE tub.`status` = 1 AND tub.userId = 1 AND tub.videoId = v.id) as isCollectStatus

FROM `tb_video` AS v JOIN (SELECT ROUND(RAND() * (SELECT MAX(id) FROM `tb_video`)) AS id) AS v1
WHERE v.id >= v1.id

and v.title != ""
  AND v.title not like "%#%" AND v.title not like "%@%" AND v.title not like "%微%"    AND v.title not like "%秒拍%"
 AND v.title not like "%号%"  AND v.title not like "%美拍%"


ORDER BY v.id ASC LIMIT 25;

    </select>

    <select id="getVideosById" resultType="me.doushi.api.domain.Video">

        select v.id,v.title,v.url as videoUrl ,v.pic,v.type,v.createTime as pushTime,(select count(*) from `tb_user_video` tub WHERE tub.`status` = 1 AND tub.userId = #{userId} AND tub.videoId = v.id) as isCollectStatus


        from `tb_video` v

        where v.title != ""
  AND v.title not like "%#%" AND v.title not like "%@%" AND v.title not like "%微%"    AND v.title not like "%秒拍%"
 AND v.title not like "%号%"  AND v.title not like "%美拍%"

        AND v.id = #{videoId}

    </select>

</mapper>
